server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketing
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: 
management:
  endpoints:
    web:
      exposure:
        include: mappings
